.header {
    height: 60px;
    padding: 80px;
    background-image: url(../img/dise2.png);
    background-size: cover;
    background-position: center;
    border: 1px;
    color: white;
}
.header h1 {
    margin: 0px;
    font-weight: 300px;
}
.products {
    width: 40px;
    margin: 30px;
}
.footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 0px;
    height: 25px;
}